.jtab-settings {
    [data-heading="Quick Start"] + table td:first-child {
        // Don't let codeblock names wrap on -
        white-space: nowrap;
    }
}

.jtab-codeblock {
    .jtab-markdown {
        // Hack: MarkdownRenderer.renderMarkdown() doesn't render css-enhanced
        // markdown like the standard markdown on the page so I need to tighten
        // things up a bit.
        margin-bottom: 0.25em;
        &, * {
            margin-block: 0;
        }
        &, ul {
            display: grid;
        }
    }
}

/*
 * Obsidian JTab error display
*/
.jtab-error {
    border: 2px solid rgba(255, 0, 0, 0.3);
    border-radius: 7px;
    padding: 0.5em;
    font-size: smaller;

    .jtab-error-title { 
        font-weight: bold;
    }
    .jtab-error-message {
        font-family: monospace;
    }

    .jtab-error-src {
        position: relative;
        font-family: monospace;
        pre {
            margin: 0; // Reading view puts unfortunate top/bottom margins on pre
        }

        .jtab-error-help {
            position: absolute;
            bottom: 2px;
            right: 5px;
            white-space: nowrap;

            a {
                font-size: smaller;
            }
        }
    }
}